In [38]:
import numpy as np # linear algebra
import pandas as pd # data processing
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
import unicodedata


#Read data
data = pd.read_csv("dataset.csv", index_col="user_id")

#check data

data.shape

(20000, 13)

In [39]:
data.head()

,install_time,platform,country_region,city,gender,min_age_range,max_age_range,event_1,event_2,event_3,event_4,event_5,target_churn_indicator
user_id,,,,,,,,,,,,,
2ba6f357,2018-07-04 19:24:24,Android,Santa Cruz,Río Gallegos,male,13,17,1,2,0,1,1,0
3cb936c1,2018-06-30 13:41:29,Android,Corrientes,Corrientes,male,13,17,0,7,0,3,0,1
17d88bbc,2018-06-30 16:02:30,Android,Cordoba,Villa Carlos Paz,female,18,20,2,1,0,2,2,1
7baa10b6,2018-07-02 21:08:33,Android,Buenos Aires,Don Torcuato,female,13,17,5,6,0,2,5,0
120d379,2018-07-07 04:18:47,Android,Santiago del Estero,Santiago del Estero,female,13,17,8,12,0,2,3,0

In [21]:
#Exploration

data.isnull().sum()

install_time                0
platform                    0
country_region            479
city                      935
gender                      0
min_age_range               0
max_age_range               0
event_1                     0
event_2                     0
event_3                     0
event_4                     0
event_5                     0
target_churn_indicator      0
dtype: int64

(20000, 14)

In [17]:
#data.groupby("country_region",)["country_region"].agg("count")

country_region
Buenos Aires           9946
Catamarca               140
Chaco                   392
Chubut                  181
Cordoba                1900
Corrientes              331
Entre Rios             1153
Formosa                 212
Jujuy                   189
La Pampa                164
La Rioja                208
Mendoza                 686
Misiones                355
Neuquen                 261
Rio Negro               208
Salta                   685
San Juan                200
San Luis                234
Santa Cruz              103
Santa Fe                886
Santiago del Estero     234
Tierra del Fuego         70
Tucuman                 783
Name: country_region, dtype: int64

In [18]:
#data.groupby("gender",)["gender"].agg("count")

gender
female     10835
male        8992
unknown      173
Name: gender, dtype: int64

In [19]:
#data.groupby("min_age_range",)["min_age_range"].agg("count")

min_age_range
13.0     7430
17.0        7
18.0    12546
20.0       17
Name: min_age_range, dtype: int64

In [20]:
#data.groupby("max_age_range",)["max_age_range"].agg("count")

max_age_range
13.0        1
17.0     7432
18.0        2
20.0    12548
21.0       17
Name: max_age_range, dtype: int64

In [9]:
#Limpieza

#normalizar data
cols = data.select_dtypes(include=[np.object]).columns
data[cols] = data[cols].apply(lambda x: x.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8'))

#Reemplazar substr innecesarias
data["country_region"]= data["country_region"].str.replace(" Province", "")
data["country_region"]= data["country_region"].str.replace(" F.D.", "")

#data.groupby("country_region",)["country_region"].agg("count")

In [15]:
cond = data.min_age_range > data.max_age_range

data.loc[cond, ['min_age_range', 'max_age_range']] = data.loc[cond, ['max_age_range', 'min_age_range']].values

#data.groupby("min_age_range",)["min_age_range"].agg("count")

min_age_range
13.0     7430
17.0        7
18.0    12546
20.0       17
Name: min_age_range, dtype: int64

In [16]:
#data.groupby("max_age_range",)["max_age_range"].agg("count")

max_age_range
13.0        1
17.0     7432
18.0        2
20.0    12548
21.0       17
Name: max_age_range, dtype: int64

In [30]:
data["age_range"] = data["min_age_range"].astype(str) + "-" + data["max_age_range"].astype(str)

In [13]:
data.isnull().sum()

install_time                0
platform                    0
country_region            479
city                      935
gender                      0
min_age_range               0
max_age_range               0
event_1                     0
event_2                     0
event_3                     0
event_4                     0
event_5                     0
target_churn_indicator      0
dtype: int64

In [31]:
data.head()

,install_time,platform,country_region,city,gender,min_age_range,max_age_range,event_1,event_2,event_3,event_4,event_5,target_churn_indicator,age_range
user_id,,,,,,,,,,,,,,
2ba6f357,2018-07-04 19:24:24,Android,Santa Cruz,Rio Gallegos,male,13.0,17.0,1,2,0,1,1,0,13.0-17.0
3cb936c1,2018-06-30 13:41:29,Android,Corrientes,Corrientes,male,13.0,17.0,0,7,0,3,0,1,13.0-17.0
17d88bbc,2018-06-30 16:02:30,Android,Cordoba,Villa Carlos Paz,female,18.0,20.0,2,1,0,2,2,1,18.0-20.0
7baa10b6,2018-07-02 21:08:33,Android,Buenos Aires,Don Torcuato,female,13.0,17.0,5,6,0,2,5,0,13.0-17.0
120d379,2018-07-07 04:18:47,Android,Santiago del Estero,Santiago del Estero,female,13.0,17.0,8,12,0,2,3,0,13.0-17.0

In [34]:
data.shape

(20000, 14)

In [32]:
#Export

data.to_csv("dataset_limpio.csv")