In [78]:
import numpy as np # linear algebra
import pandas as pd # data processing
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
import unicodedata


#Read data
data = pd.read_csv("dataset.csv", index_col="user_id")

#check data

data.head()

,install_time,platform,country_region,city,gender,min_age_range,max_age_range,event_1,event_2,event_3,event_4,event_5,target_churn_indicator
user_id,,,,,,,,,,,,,
2ba6f357,2018-07-04 19:24:24,Android,Santa Cruz,Río Gallegos,male,13,17,1,2,0,1,1,0
3cb936c1,2018-06-30 13:41:29,Android,Corrientes,Corrientes,male,13,17,0,7,0,3,0,1
17d88bbc,2018-06-30 16:02:30,Android,Cordoba,Villa Carlos Paz,female,18,20,2,1,0,2,2,1
7baa10b6,2018-07-02 21:08:33,Android,Buenos Aires,Don Torcuato,female,13,17,5,6,0,2,5,0
120d379,2018-07-07 04:18:47,Android,Santiago del Estero,Santiago del Estero,female,13,17,8,12,0,2,3,0

In [76]:
#Exploration

data.isnull().sum()

install_time                0
platform                    0
country_region            479
city                      935
gender                      0
min_age_range               0
max_age_range               0
event_1                     0
event_2                     0
event_3                     0
event_4                     0
event_5                     0
target_churn_indicator      0
dtype: int64

In [55]:


#data.groupby("country_region",)["country_region"].agg("count")

country_region
Buenos Aires           6831
Buenos Aires F.D.      3115
Catamarca               140
Chaco                   391
Chaco Province            1
Chubut                  180
Chubut Province           1
Cordoba                1898
Cordoba Province          2
Corrientes              331
Entre Rios             1138
Entre Ríos Province      15
Formosa                 212
Jujuy                   189
La Pampa                164
La Rioja                208
Mendoza                 686
Misiones                355
Neuquen                 259
Neuquén Province          2
Rio Negro               207
Río Negro Province        1
Salta                   684
Salta Province            1
San Juan                200
San Luis                234
Santa Cruz              103
Santa Fe                884
Santa Fe Province         2
Santiago del Estero     234
Tierra del Fuego         70
Tucuman                 782
Tucumán Province          1
Name: country_region, dtype: int64

In [43]:
#data.groupby("gender",)["gender"].agg("count")

gender
female     10835
male        8992
unknown      173
Name: gender, dtype: int64

In [59]:
#data.groupby("min_age_range",)["min_age_range"].agg("count")

min_age_range
13     7430
17        3
18    12546
20        4
21       17
Name: min_age_range, dtype: int64

In [58]:
#data.groupby("max_age_range",)["max_age_range"].agg("count")

max_age_range
13        1
17     7436
18        2
20    12561
Name: max_age_range, dtype: int64

In [56]:
#Limpieza

#normalizar data
cols = data.select_dtypes(include=[np.object]).columns
data[cols] = data[cols].apply(lambda x: x.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8'))

#Reemplazar substr innecesarias
data["country_region"]= data["country_region"].str.replace(" Province", "")
data["country_region"]= data["country_region"].str.replace(" F.D.", "")
#data.groupby("country_region",)["country_region"].agg("count")

country_region
Buenos Aires           9946
Catamarca               140
Chaco                   392
Chubut                  181
Cordoba                1900
Corrientes              331
Entre Rios             1153
Formosa                 212
Jujuy                   189
La Pampa                164
La Rioja                208
Mendoza                 686
Misiones                355
Neuquen                 261
Rio Negro               208
Salta                   685
San Juan                200
San Luis                234
Santa Cruz              103
Santa Fe                886
Santiago del Estero     234
Tierra del Fuego         70
Tucuman                 783
Name: country_region, dtype: int64

In [62]:
cond = data.min_age_range > data.max_age_range

data.loc[cond, ['min_age_range', 'max_age_range']] = data.loc[cond, ['max_age_range', 'min_age_range']].values

#data.groupby("min_age_range",)["min_age_range"].agg("count")

min_age_range
13.0     7430
17.0        7
18.0    12546
20.0       17
Name: min_age_range, dtype: int64

In [63]:
#data.groupby("max_age_range",)["max_age_range"].agg("count")

max_age_range
13.0        1
17.0     7432
18.0        2
20.0    12548
21.0       17
Name: max_age_range, dtype: int64

In [74]:
data.isnull().sum()

install_time                0
platform                    0
country_region            479
city                      935
gender                      0
min_age_range               0
max_age_range               0
event_1                     0
event_2                     0
event_3                     0
event_4                     0
event_5                     0
target_churn_indicator      0
dtype: int64

In [80]:
data.head()

,install_time,platform,country_region,city,gender,min_age_range,max_age_range,event_1,event_2,event_3,event_4,event_5,target_churn_indicator
user_id,,,,,,,,,,,,,
2ba6f357,2018-07-04 19:24:24,Android,Santa Cruz,Río Gallegos,male,13,17,1,2,0,1,1,0
3cb936c1,2018-06-30 13:41:29,Android,Corrientes,Corrientes,male,13,17,0,7,0,3,0,1
17d88bbc,2018-06-30 16:02:30,Android,Cordoba,Villa Carlos Paz,female,18,20,2,1,0,2,2,1
7baa10b6,2018-07-02 21:08:33,Android,Buenos Aires,Don Torcuato,female,13,17,5,6,0,2,5,0
120d379,2018-07-07 04:18:47,Android,Santiago del Estero,Santiago del Estero,female,13,17,8,12,0,2,3,0

In [79]:
#Export

data.to_csv("dataset_limpio.csv")